

.container{
    
    height: 50em;
    width: 94em;
    background: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background: rgb(86, 87, 86);
    height: 200px;
    width: 200px;
}
button{
    display: block;
    justify-content: center;
    align-items: center;
}