div{
    display:block;
    align-items: center;
    justify-content: center;
    place-items: center;
    height: max-content;
    width: max-content;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
    background-color:rgb(173, 228, 32) ;
}

body{
    background-color:rgb(220, 250, 145);
}

button{
    display: block;
    align-items: center;
    justify-content: center;
    background-color: rgb(21, 212, 212);
}
