body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: rgb(255, 255, 255);
    background-image:url(https://images3.alphacoders.com/556/thumb-1920-556902.jpg) ;
}

#container{
    background-color: rgb(81, 81, 81);
    padding: 0;
}
#div1{
    font-size: 2em;
    border: solid;

}

#head4{
    border: solid;
}
button{
    height: 100px;
    width: 100px;
    border:none;
    border-radius: 50px;
    background-color: rgb(60, 33, 23);
    color: aliceblue;
    cursor: pointer;
    font-size: 2em;
}
button:hover{
    transition: 1s ease;
    background-color: rgb(126, 125, 125);
}
#display{
    background-color: rgb(167, 167, 167);
    color: aliceblue;
    height: 150px;
    width: 550px;
    font-size: 3em;

}

button:active{
    background-color: rgb(180, 179, 179); 
}